.about {
    margin-top: 1rem;
    text-align: center;
}

.about__title {
    text-align: center;
}

.bio {
    text-align: center;
}

.bio__columns {
    display: flex;
    flex-direction: row;
}

.bio__columns__paragraphs {
    width: 50%;
}

.bio__columns__achievements {
    width: 50%;
}

.skills {
    text-align: center;
}

.skills__list {
    list-style: none;
    display: flex;
    justify-content: center;
}

.skills__list li {
    border: 2px solid red;
    margin: 2rem;
    width: 33%;
}

.hobbies {
    text-align: center;
}

.hobbies__list {
    display: flex;
    justify-content: space-evenly;
}

.contact {
    text-align: center;
}

.contact__list {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer {
    background-color: gray;
    margin-top: 2rem;
    height: 8rem;
}

.social-media-icons {
    display: flex;
    justify-content: center;
    gap: 0.9rem;
    padding-top: 0.5rem;
}

.social-media-icon {
    width: 40px;
}

.contact-information {
    margin-top: 0.3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contact-information p {
    margin-bottom: 0rem;
}