.about {
    margin-top: 1rem;
    text-align: center;
}

.about__title {
    text-align: center;
}

.bio {
    text-align: center;
}

.bio__columns {
    display: flex;
    flex-direction: row;
}

.bio__columns__paragraphs {
    width: 50%;
}

.bio__columns__achievements {
    width: 50%;
}

.skills {
    text-align: center;
}

.skills__list {
    list-style: none;
    display: flex;
    justify-content: center;
}

.skills__list li {
    border: 2px solid red;
    margin: 2rem;
    width: 33%;
}