.about {
    text-align: center;
    padding-top: 1.5em;
    padding-bottom: 1.5em;
}

.about__title {
    text-align: center;
}

.bio {
    text-align: center;
    color: black;
    padding-top: 1.5em;
    padding-bottom: 1.5em;
}

.bio__columns {
    display: flex;
    flex-direction: row;
}

.bio__columns__paragraphs {
    width: 50%;
}

.bio__columns__achievements {
    width: 50%;
}

.skills {
    text-align: center;
}

.skills__list {
    display: flex;
    gap: 1em;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.hobbies {
    text-align: center;
    padding-top: 1.5em;
    padding-bottom: 1.5em;
}

.hobbies__list {
    display: flex;
    gap: 1em;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.contact {
    text-align: center;
    padding-top: 1.5em;
    padding-bottom: 1.5em;
}

.contact__list {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer {
    background-color: #343a40;
    height: 8rem;
}

.social-media-icons {
    display: flex;
    justify-content: center;
    gap: 0.9rem;
    padding-top: 0.5rem;
}

.social-media-icon {
    width: 40px;
}

.contact-information {
    margin-top: 0.3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #939993;
}

.contact-information p {
    margin-bottom: 0rem;
}

.img-flex {
    display: flex;

}